:root {
  /* Colors */
  --light-blue: #666ca3;
  --dark-blue: #13183f;
  --light-gray: #83869a;
  --new-gray: #3e404c;
  --hot-pink: #f74780;
  --light-pink: #ffa7c3;
  --white: #fff;
  --gradient-1: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  --gradient-1-hover: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  --gradient-2: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);
  --gradient-2-hover: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}
img {
  height: auto;
  object-fit: cover;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

/* Typography */

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.app {
  background: var(--white);
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.heading-primary {
  color: var(--dark-blue);
  font-size: 2.5rem;
  font-weight: 800;
  line-height: normal;
}
.heading-secondary {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.334;
}

.body-text {
  color: var(--new-gray);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625;
}
.heading-tertiary {
  color: var(--dark-blue);
  font-size: 1.25rem;
  font-weight: 800;
  line-height: normal;
}

.course-link {
  color: var(--hot-pink);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.556rem;
}
.course-link:is(:hover, :focus) {
  color: var(--light-pink);
}
/* Components */

/* ======== Buttons ============ */

.btn {
  width: 10.4375rem;
  height: 3.5rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.75rem;
  transition: all 0.6s ease;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
  z-index: 10;
}

.btn.btn-1 {
  background-color: var(--dark-blue);
  color: var(--white);
}

.btn.btn-1:is(:hover, :focus) {
  background-color: var(--light-blue);
}
.btn.btn-2 {
  background: var(--gradient-1);
  color: var(--white);
}

.btn.btn-2:is(:hover, :focus) {
  background: var(--gradient-1-hover), var(--gradient-1);
}
.btn.btn-3 {
  background: var(--gradient-2);
  color: var(--white);
}

.btn.btn-3:is(:hover, :focus) {
  background: var(--gradient-2-hover), var(--gradient-2);
}

/* Resuables */

.container {
  width: 21.5rem;
  margin-inline: auto;
}

@media (min-width: 768px) {
  .container {
    width: 43rem;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 70rem;
  }

  .heading-primary {
    color: var(--dark-blue);
    font-size: 3.5rem;
    font-weight: 800;
    line-height: normal;
  }

  .body-text {
    color: var(--new-gray);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.556;
  }
  .heading-secondary {
    font-size: 2rem;
    line-height: 1.25;
  }
  .heading-tertiary {
    font-size: 1.5rem;
  }
  .body-text {
    font-size: 1.125rem;
    line-height: 1.5556;
  }
}

/* Page Layout */

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

/* Hero */
.hero h1 {
  margin-block: 2.375rem 1.63rem;
}
.hero p {
  margin-bottom: 1.5rem;
}
.hero {
  position: relative;
}
.hero-img {
  margin-top: 2.875rem;
}

/* Courses */

.course-container {
  background: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
  padding-block: 4.125rem 5rem;
}
.courses {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2.5rem;
}
.courses-heading {
  width: 100%;
  background: var(--gradient-1);
  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21.5rem;
  height: 7.5rem;
  flex-shrink: 0;
}

.courses-heading h2 {
  width: 17.875rem;
}
.course {
  padding: 3.5rem 1.75rem 2rem;
  border-radius: 0.625rem;
  background: var(--white);
  box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
  position: relative;
  display: flex;
  flex-direction: column;
}
.course-icon {
  flex-shrink: 0;
  position: absolute;
  top: -1.5rem;
  left: 1.75rem;
}

.course-title {
  margin-bottom: 1rem;
}
.course-text {
  margin-bottom: 1.5rem;
}
.course-link {
  margin-top: auto;
}

/* Footer  */

.footer {
  background: var(--dark-blue);
  height: 7.5rem;
  width: 100%;
}
.footer .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Tablet Responsive */

@media (min-width: 768px) {
  .header {
    padding-top: 1.5rem;
  }

  .hero {
    padding-top: 3.11rem;
  }
  .hero h1 {
    margin-block: 3.08rem 1.56rem;
  }
  .hero p {
    margin-bottom: 1.56rem;
  }
  .course-container {
    padding-block: 12rem 5.37rem;
  }
  .courses {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.7rem;
    row-gap: 3.5rem;
  }
  .courses-heading {
    width: 100%;
    height: 100%;
  }
  .course {
    padding: 3.5rem 2rem 2rem;
  }

  .hero-img {
    position: absolute;
    right: -50%;
    bottom: -37.5%;
  }
  .hero div {
    width: 398px;
    height: 284px;
  }
}

@media (min-width: 1280px) {
  .hero {
    padding-top: 5.44rem;
  }
  .hero h1 {
    margin-block: 5.3rem 1.8rem;
  }
  .hero p {
    margin-bottom: 2.5rem;
  }
  .course-container {
    padding-block: 15.625rem 8.75rem;
  }
  .courses {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.88rem;
    row-gap: 5rem;
  }
  .course {
    padding: 4rem 2rem 2.5rem;
  }
  .course-title {
    margin-bottom: 1.5rem;
  }
  .hero-img {
    right: -40%;
    bottom: -30%;
  }
  .hero div {
    width: 468px;
    height: 360px;
  }
}
